
.DS_Store

Kanban.xcworkspace/xcuserdata/guillermoapoj.xcuserdatad/UserInterfaceState.xcuserstate

Kanban.xcworkspace/xcuserdata/guillermoapoj.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Kanban.xcworkspace/xcuserdata/guillermoapoj.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist

Kanban.xcworkspace/xcuserdata/guillermoapoj.xcuserdatad/UserInterfaceState.xcuserstate
